body{background-color:#D0A2E8;text-align:justify; font-size:18px;}
h1{text-align:center;background: color #B9B5F5; color:#000000;}
h3{text-align:justify; color:#F98AFF;}
b{color:#EDD5E3; font-size:18px;}
i{color:#EDD5E3; font-size:18px;}
header, footer{background-color:#D0A2E8; color:#D0A2E8;text-align:center;font-size:20px;}
main{background-color:#B9B5F5;}